@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  line-height: 150px;
}

footer span {
  font-weight: bold;
  font-size: 15px;
}

.formHidden {
  display: none;
}

.resultsHidden {
  display: none;
}
